@layer base, utils, components;

@import "@webtui/css";

@import "@webtui/theme-gruvbox";
/* @import "@webtui/theme-catppuccin"; */
@import "@webtui/plugin-nf";
/* @import "@webtui/theme-nord"; */

@layer base {
  :root {
    --font-family: "JetBrainsMono NFM", monospace;
    /* --base: #2e3440; */

    --fs-xl: 5rem;
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;
  }
}

@media (min-width: 40em) {
  :root {
    --fs-xl: 5rem;
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;
  }
}

main {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2ch;
}

.selected {
  background: #458588;
}

img {
  width: 250px;
}

.section-button:hover {
  cursor: pointer;
}

.page {
  display: none;
  padding: 2ch;
  align-items: center;
  justify-items: center;
}

.page.visible {
  display: grid;
}

.grid-2-cols {
  grid-template-columns: 1fr 1fr;
}

.grid-3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid-6-cols {
  grid-template-columns: repeat(6, 1fr);
  row-gap: 2ch;
}

#nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-inline: 2ch;
}

#footer {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding-inline: 2ch;
}

a:link,
a:visited {
  text-decoration: none;
  display: inline-block;
  color: #ebdbb2;
}

a:hover,
a:active {
  text-decoration: underline;
}

a {
  justify-content: space-evenly;
}

img {
  height: 14lh;
}

li {
  list-style-type: none;
  font-size: var(--fs-400);
}

.nf {
  color: black;
}

.icon {
  font-size: 4ch;
}

.skill {
  display: grid;
  align-items: center;
  justify-items: center;
}

.html {
  color: #f16529;
}
.css {
  color: #1c88c7;
}

.docker {
  color: #0db7ed;
}

.node {
  color: #6cc24a;
}

.javascript {
  color: #f7df1d;
}
.php {
  color: #7385bc;
}

.python {
  background: radial-gradient(
    circle farthest-corner at top left,
    #346c99 55%,
    #ffcd3a 56%
  );

  background-clip: text;
  color: transparent;
}

.tailwind {
  color: #00bcff;
}

.react {
  color: #5bd9f7;
}

.wordpress {
  color: lightgrey;
}

.mongodb {
  background: linear-gradient(to right, #35b252 50%, #12924f 50%);
  background-clip: text;
  color: transparent;
}

.express {
  color: lightgray;
}

.mysql {
  color: #00618b;
}

.typescript {
  color: #017bd1;
}

.vim {
  color: #019733;
}

.bash {
  color: white;
}

.linux {
  color: silver;
}

.c {
  color: #669ad2;
}
