@layer base, utils, components;

@import "@webtui/css";

@import "@webtui/theme-gruvbox";
/* @import "@webtui/theme-catppuccin"; */
@import "@webtui/plugin-nf";
/* @import "@webtui/theme-nord"; */

@layer base {
  :root {
    --font-family: "JetBrainsMono NFM", monospace;
    /* --base: #2e3440; */
  }
}

main {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2ch;
}

.selected {
  background: #458588;
}

img {
  width: 250px;
}

.section-button:hover {
  cursor: pointer;
}

.page {
  display: none;
}

.page.visible {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2ch;
}
